
table{
    margin:20% auto auto auto;
    background-color:#000000
}

table, td, #result{
    border:1px solid black;
}

td{
    background-color:#c02e2e;
    padding:3px 10px 3px 10px;
    text-align:center;
    font-size:40px;
}

#result{
    background-color:rgb(199, 199, 199);
    text-align:right;
    width:200px;
};

#C, #DEL{
    font-size:33px;
}
