
table{
    margin:20% auto auto auto;
    background-color:#000000;
    font-family:sans-serif;
}

td{
    background-color:#c02e2e;
    padding:3px 10px 3px 10px;
    text-align:center;
    font-size:36px;
    cursor:pointer;
}

#result{
    background-color:rgb(199, 199, 199);
    text-align:right;
    width:200px;
    height:45px;
    cursor:auto;
}

#C, #DEL{
    font-size:30px;
}

.button:hover{
    background-color:#ec3f3f;
}

.button:active{
    background-color:#641818;
}